#menu{
	width:100%;
	margin:0;
	padding:0;
	background-color:#393D49;
}

#footer{
	width:100%;
	margin-top:40px;
	padding:0;
	background-color:#F5F5F5;
	position:fixed;
	bottom:0;
}
#footer p{
	padding:16px;
	color:#999999;
}
#sidebar{
	margin-top:40px;
	margin-bottom:80px;
}
.left-menu{
	margin-left:30px;
}
.left-menu li{
	padding:5px;
	
}
.left-menu li a{
	padding-left:12px;
}
.left-menu h2{
	font-size:16px;
	border-left:5px #009E94 solid;
	padding:8px;
	background-color:#F2F2F2;
}
#showpic td{
	width:177px;
}