.header{
    background-color:#393D49;
    width:100%;
}
.left-menu{
	float: left;
	padding-top:15px;
}
.left-menu a{
	color:#E1E1E1;
}
.right-menu{
	float: right;
}
.menu{
	float: left;
}
.footer{
    width:100%;
    position:fixed;
    left:0;
	bottom:0;
	background: #2F4056;
	color:#E1E1E1;
	padding:14px;
}
.footer a{
    color:#E1E1E1;
}
.login{
    margin-top:100px;
}
#upimg{
    
    margin-left:auto;
    margin-right:auto;
    margin-top:4em;
    width:94.6%;
    left:0%;
    background-color:#F9F9F9;
}

#upimg i{
    font-size:80px;
    margin-left:auto;
    margin-right:auto;
}
#upimg p{
    margin-bottom:20px;
}
#upok{
    margin-top:4em;
    display: none;
}

#showpic img{
    max-width: 100%;
    max-height: 100%;
    border:1px solid #ECECEC;
	border-radius:5px;
	margin-top:1em;
	margin-left:auto;
	margin-right:auto;
}
#found-img{
    margin-top:4em;
    
}
#found-img img{
    max-width: 100%;
    max-height:100%;
    border:1px solid #ECECEC;
	border-radius:5px;
	margin-top:1em;
	margin-left:auto;
	margin-right:auto;
}
.msg{
    width:100%;
    background-color:#f2f2f2;
    line-height: 1em;
    padding:12px;
    margin-top:2em;
    color:#009688;
}
#left-menu{
    top:4em;
}
.picadmin img{
    max-width: 100%;
    max-height:100%;
    border:1px solid #ECECEC;
	border-radius:5px;
}
.page{
    margin-bottom:100px;
    margin-top:60px;
}
#about{
    margin-top:4em;
    color:#353535;
    
}
#about p{
    margin-top:1em;
    margin-bottom:1em;
}
#about h3{
    font-weight: bold;
}
#about a{
    color:#01AAED;
}
#about ul li{
    list-style-type:disc;  
	line-height:1.6em;
	margin-left:2em;
}
#about ul{
    margin-top:1em;
    margin-bottom:1em;
}