.header{
    background-color:#393D49;
    width:100%;
}
.left-menu{
	float: left;
	padding-top:15px;
}
.left-menu a{
	color:#E1E1E1;
}
.right-menu{
	float: right;
}
.menu{
	float: left;
}
.footer{
    width:100%;
    position:fixed;
    left:0;
	bottom:0;
	background: #2F4056;
	color:#E1E1E1;
	padding:14px;
}
.footer a{
    color:#E1E1E1;
}
.login{
    margin-top:100px;
}
#upimg{
    
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
    /*width:94.6%;*/
    width:100%;
     -moz-box-sizing: border-box; /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box; 
    left:0%;
    background-color:#F9F9F9;
}

#upimg i{
    font-size:80px;
    margin-left:auto;
    margin-right:auto;
}
#upimg p{
    margin-bottom:20px;
}
#upok{
    margin-top:4em;
    display: none;
}

#showpic img{
    max-width: 100%;
    max-height: 100%;
    border:1px solid #ECECEC;
	border-radius:5px;
	margin-top:1em;
	margin-left:auto;
	margin-right:auto;
}
#found-img{
    margin-top:4em;
    
}
#found-img img{
    max-width: 100%;
    max-height:100%;
    border:1px solid #ECECEC;
	border-radius:5px;
	margin-top:1em;
	margin-left:auto;
	margin-right:auto;
}
.msg{
    /* width:100%; */
    background-color:#f2f2f2;
    line-height: 1em;
    padding:12px;
    margin-top:2em;
    color:#009688;
}
#left-menu{
    top:4em;
}
.picadmin img{
    max-width: 100%;
    max-height:100%;
    border:1px solid #ECECEC;
	border-radius:5px;
}
.page{
    margin-bottom:100px;
    margin-top:60px;
}
#about{
    margin-top:4em;
    color:#353535;
    
}
#about p{
    margin-top:1em;
    margin-bottom:1em;
}
#about h3{
    font-weight: bold;
}
#about a{
    color:#01AAED;
}
#about ul li{
    list-style-type:disc;  
	line-height:1.6em;
	margin-left:2em;
}
#about ul{
    margin-top:1em;
    margin-bottom:1em;
}

.smfile{
    width:100%;
    height:188px;
    border: 1px dashed #e2e2e2;
    margin-top:2em;
}
.smfile .file {
    position: relative;
    display: inline-block;
    /* background: #D0EEFF; */
    /* border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px; */
    overflow: hidden;
    color: #009688;
    text-decoration: none;
    text-indent: 0;
    line-height: 188px;
    display: block;
    height: 100%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    background-color: #F9F9F9;
}
.smfile .file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.smfile .file:hover {
    /* background: #AADFFD;
    border-color: #78C3F3; */
    color:#009688;
    text-decoration: none;
}
.showimg{
	display:none;
	position:absolute;
	max-width:460px;
	top:3em;
	z-index:99;
	border:1px solid #e2e2e2;
	border-radius:5px;
}
.layui-table img {
    max-width: 460px;
}
.viewimg{
	position: absolute;
	display:none;
	border:1px solid #F0F0F0;
	border-radius:5px;
	z-index:99;
	top:3em;
}
.viewimg img{
	max-width:660px;
}

#adminshow{
	display: none;
}
#adminshow img{
	max-width:680px;
	text-align:center;
	
}
#copy{
	width:680px;
	margin-left:auto;
	margin-right:auto;
}
.urltext{
	margin-top:2em;
}